In [1]:
import tensorflow as tf
import pandas as pd 
import re
import collections
import os
import numpy as np
import math
import random
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
from six.moves import xrange
from tempfile import gettempdir

In [2]:
movies = pd.read_csv("wiki_movie_plots.csv")

Step one: Convert plot to vectorized sequence of words.

Step two: Set up LSTM to generate predictions.

Step three: Interpret predictions.

Ideas:
- Predictions at every word (or sentence, or paragraph), see where they change

In [3]:
movies.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [4]:
genres_to_consider = ["drama", "comedy", "horror", "action", "thriller", "romance", "western"]
movies = movies[movies['Genre'].isin(genres_to_consider)]

In [5]:
movies.groupby('Genre').count().sort_values("Title", ascending=False)

,Release Year,Title,Origin/Ethnicity,Director,Cast,Wiki Page,Plot
Genre,,,,,,,
drama,5964,5964,5964,5964,5841,5964,5964
comedy,4379,4379,4379,4379,4347,4379,4379
horror,1167,1167,1167,1167,1124,1167,1167
action,1098,1098,1098,1098,1087,1098,1098
thriller,966,966,966,966,955,966,966
romance,923,923,923,923,918,923,923
western,865,865,865,865,864,865,865

In [6]:
movies.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
6,1903,The Great Train Robbery,American,Edwin S. Porter,NaN,western,https://en.wikipedia.org/wiki/The_Great_Train_...,The film opens with two bandits breaking into ...
7,1904,The Suburbanite,American,Wallace McCutcheon,NaN,comedy,https://en.wikipedia.org/wiki/The_Suburbanite,The film is about a family who move to the sub...
14,1907,How Brown Saw the Baseball Game,American,Unknown,Unknown,comedy,https://en.wikipedia.org/wiki/How_Brown_Saw_th...,Before heading out to a baseball game at a nea...
15,1907,Laughing Gas,American,Edwin Stanton Porter,"Bertha Regustus, Edward Boulden",comedy,https://en.wikipedia.org/wiki/Laughing_Gas_(fi...,The plot is that of a black woman going to the...
16,1908,The Adventures of Dollie,American,D. W. Griffith,"Arthur V. Johnson, Linda Arvidson",drama,https://en.wikipedia.org/wiki/The_Adventures_o...,On a beautiful summer day a father and mother ...

In [7]:
movies = movies.sample(frac=1) # Shuffles the data

In [8]:
N_train = 600
N_test = 200

train = None
test = None

train = movies[movies['Genre'] == 'drama'][:N_train]
test = movies[movies['Genre'] == 'drama'][N_train:]

for genre in genres_to_consider[1:]:
    tr = movies[movies['Genre'] == genre][:N_train]
    te = movies[movies['Genre'] == genre][N_train:]
    train = pd.concat([train, tr])
    test = pd.concat([test, te])

In [9]:
train.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
16447,2013,Big Sur,American,Michael Polish,"Josh Lucas, Jean-Marc Barr, Radha Mitchell",drama,https://en.wikipedia.org/wiki/Big_Sur_(film),"Jack Kerouac, coming off the recent success of..."
17591,1989,Bangkok Hilton,Australian,Ken Cameron,"Nicole Kidman, Denholm Elliott, Hugo Weaving, ...",drama,https://en.wikipedia.org/wiki/Bangkok_Hilton,Bangkok Hilton begins as Hal Stanton (Denholm ...
6106,1954,Hell and High Water,American,Samuel Fuller,"Richard Widmark, Bella Darvi",drama,https://en.wikipedia.org/wiki/Hell_and_High_Wa...,"In 1953, renowned French scientist Professor M..."
299,1919,True Heart Susie,American,D.W. Griffith,"Lillian Gish, Bobby Harron",drama,https://en.wikipedia.org/wiki/True_Heart_Susie,"As described in a film magazine,[2] ""True Hear..."
32066,2000,Kalisundam Raa,Telugu,Udayasankar,"Venkatesh, Simran",drama,https://en.wikipedia.org/wiki/Kalisundam_Raa,Raghaviah (K. Vishwanath) and Ram Mohan Rao (R...

### Word Embeddings Using Word2Vec on Wikipedia Corpus

In [10]:
d = {
    "(" : " ( ",
    ")" : " ) ",
    "-" : " - ",
    "," : " , ",
    "\n" : "",
    "\r" : "",
    "\"" : " \" ",
    "'" : " ' ",
    "." : " . ",
    ";" : " ; ",
    ":" : " : ",
    "ENDOFARTICLE": ""
}

### Function to replace various characters in a single pass over text

In [11]:
def multiple_replace(d, text):
    
    regex = re.compile("(%s)" % "|".join(map(re.escape, d.keys())))
    
    return regex.sub(lambda x: d[x.string[x.start():x.end()]], text)

## Parses (k) available wikipedia files

In [12]:
filename = "wiki"
words = []
k = 100

files_in_directory = os.listdir(filename)
print("Files in directory: " + str(len(files_in_directory)))
print("Files being used: " + str(k))

for file in files_in_directory[:k]:
    f = open(filename + "/" + file, 'r', encoding = "ISO-8859-1")
    f = f.read()
    f = multiple_replace(d, f)
    f = re.sub("<doc.{20,150}>", "", f) # Gets rid of intro 
    f = re.sub("</doc>", "", f) # Gets rid of end
    f = re.sub("\[[0-9]+\]", "", f) # Gets rid of reference pointers 
    f = re.sub(" [A-Z]{1}[A-Z]+ ", " ", f)
    all_words = f.split(" ")
    for word in all_words:
        words.append(word.lower())

Files in directory: 164
Files being used: 100

## Function to generate vocabulary instances

In [13]:
def build_batch(words, n_words):
    word_count = [["UNK", -1]]
    word_count.extend(collections.Counter(words).most_common(n_words - 1))
    
    d = {}
    for w, _ in word_count:
        d[w] = len(d)
        
    data = []
    num_unks = 0
    for w in words:
        index = d.get(w, 0)
        if index == 0:
            num_unks += 1
        data.append(index)
            
    word_count[0][1] = num_unks
    
    reversed_dictionary = dict(zip(d.values(), d.keys()))
    
    return data, word_count, d, reversed_dictionary

In [14]:
n_words = 50000 # Subject to change 
data, word_count, vocab_dictionary, reversed_dictionary = build_batch(words, n_words)

In [ ]:
word_index = len(words)

## Generates a batch of wikipedia data to be used for the Word2Vec model

In [ ]:
data_index = 0
def generate_batch(batch_size, data, num_skips, skip_window):
    global data_index
    assert batch_size % num_skips == 0
    assert num_skips <= 2 * skip_window
    batch = np.ndarray(shape=(batch_size), dtype=np.int32)
    labels = np.ndarray(shape=(batch_size, 1), dtype=np.int32)
    span = 2 * skip_window + 1  # [ skip_window target skip_window ]
    buffer = collections.deque(maxlen=span)  # pylint: disable=redefined-builtin
    if data_index + span > len(data):
        data_index = 0
    buffer.extend(data[data_index:data_index + span])
    data_index += span
    for i in range(batch_size // num_skips):
        context_words = [w for w in range(span) if w != skip_window]
        words_to_use = random.sample(context_words, num_skips)
        for j, context_word in enumerate(words_to_use):
            batch[i * num_skips + j] = buffer[skip_window]
            labels[i * num_skips + j, 0] = buffer[context_word]
            
        if data_index == len(data):
            buffer.extend(data[0:span])
            data_index = span
        else:
            buffer.append(data[data_index])
            data_index += 1
    # Backtrack a little bit to avoid skipping words in the end of a batch
    data_index = (data_index + len(data) - span) % len(data)
    return batch, labels

## Parameters for the Word2Vec Model

In [ ]:
batch_size = 256
embedding_size = 128
skip_window = 1
num_skips = 2
num_sampled = 64

valid_size = 16
valid_window = 100
valid_examples = np.random.choice(valid_window, valid_size, replace=False)

In [ ]:
graph = tf.Graph()

with graph.as_default():
    
    with tf.name_scope('inputs'):
        train_inputs = tf.placeholder(tf.int32, shape=[batch_size])
        train_labels = tf.placeholder(tf.int32, shape=[batch_size, 1])
        valid_dataset = tf.constant(valid_examples, dtype=tf.int32)
    
    with tf.name_scope('embeddings'):
        embeddings = tf.Variable(
            tf.random_uniform([n_words, embedding_size], -1.0, 1.0))
        embed = tf.nn.embedding_lookup(embeddings, train_inputs)
    
    with tf.name_scope("weights"):
        
        nce_weights = tf.Variable(tf.truncated_normal([n_words, embedding_size],
                                stddev=1.0 / math.sqrt(embedding_size)))
        
    with tf.name_scope('biases'):
        
        nce_biases = tf.Variable(tf.zeros([n_words]))
        
    with tf.name_scope('loss'):
      loss = tf.reduce_mean(
          tf.nn.nce_loss(
              weights=nce_weights,
              biases=nce_biases,
              labels=train_labels,
              inputs=embed,
              num_sampled=num_sampled,
              num_classes=n_words))
    
    tf.summary.scalar('loss', loss)
    
    with tf.name_scope('optimizer'):
        optimizer = tf.train.GradientDescentOptimizer(1.0).minimize(loss)
    
    norm = tf.sqrt(tf.reduce_sum(tf.square(embeddings), 1, keepdims=True))
    normalized_embeddings = embeddings / norm
    valid_embeddings = tf.nn.embedding_lookup(normalized_embeddings,
                                              valid_dataset)
    similarity = tf.matmul(
        valid_embeddings, normalized_embeddings, transpose_b=True)
    
    merged = tf.summary.merge_all()
    
    init = tf.global_variables_initializer()
    
    saver = tf.train.Saver()

# Run model to obtain embeddings for each word

In [ ]:
n_steps = 250001 # Can increase 
log_dir = "182/LSTMsAndInterpretability"

with tf.Session(graph=graph) as session:
    
    writer = tf.summary.FileWriter(log_dir, session.graph)
    
    init.run()
    print('Initialized')
    
    average_loss = 0
    for step in range(n_steps):
        batch_inputs, batch_labels = generate_batch(batch_size,
                                                  data,
                                                  num_skips,
                                                  skip_window)
        feed_dict = {train_inputs: batch_inputs, train_labels: batch_labels}
        
        run_metadata = tf.RunMetadata()
    
        _, summary, loss_val = session.run([optimizer, merged, loss],
                                         feed_dict=feed_dict,
                                         run_metadata=run_metadata)
    
        average_loss += loss_val
    
        if step % 5000 == 0:
            if step > 0:
                average_loss /= 5000
            # The average loss is an estimate of the loss over the last 5000
            # batches.
            print('Average loss at step ', step, ': ', average_loss)
            average_loss = 0
            
    final_embeddings = normalized_embeddings.eval()
        
    with open(log_dir + '/metadata.tsv', 'w') as f:
        for i in range(n_words):
            f.write(reversed_dictionary[i] + '\n')
        
    saver.save(session, os.path.join(log_dir, 'model.ckpt'))

## Computes cosine similarity between two vectors

In [ ]:
def cosine_similarity(v1, v2):
    return np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

## Function finds the closest word embeddings to a given word and returns their indices

In [ ]:
def find_closest(embeddings, word, index_to_word, word_to_index, n_words, count):
    assert word in word_to_index, 'Unknown word'
    
    print("Word occurs: " + str(count[word_to_index[word]][1]) + " times.\n")
    
    word_embedding = embeddings[word_to_index.get(word)]
    
    distances = np.sum((embeddings - word_embedding) ** 2, axis=1)
    
    indices = np.argsort(distances)[:n_words]
    for i in indices:
        print(index_to_word.get(i, "UNK"))
    
    return indices

In [ ]:
find_closest(final_embeddings, "jesus", reversed_dictionary, vocab_dictionary, 20, word_count)

## Plots TSNE for most common words

In [ ]:
def plot_with_labels(low_dim_embs, labels, filename):
    assert low_dim_embs.shape[0] >= len(labels), 'More labels than embeddings'
    plt.figure(figsize=(18, 18))  # in inches
    for i, label in enumerate(labels):
        x, y = low_dim_embs[i, :]
        plt.scatter(x, y)
        plt.annotate(label, xy = (x, y), xytext = (5, 2), textcoords = 'offset points', ha='right', va='bottom')
        
try:
    # pylint: disable=g-import-not-at-top
    from sklearn.manifold import TSNE
    import matplotlib.pyplot as plt

    tsne = TSNE(
        perplexity=30, n_components=2, init='pca', n_iter=5000, method='exact')
    plot_only = 500
    low_dim_embs = tsne.fit_transform(final_embeddings[:plot_only, :])
    labels = [reversed_dictionary[i] for i in xrange(plot_only)]
    plot_with_labels(low_dim_embs, labels, os.path.join(gettempdir(),
                                                        'tsne.png'))

except ImportError as ex:
    print('Please install sklearn, matplotlib, and scipy to show embeddings.')
    print(ex)

In [ ]:
# Set up LSTM

In [ ]:
train.head()

## Function to encode the genre to be used for LSTM classification

In [ ]:
def encodeLabel(df, col, label_col="Label"):
    df[col] = df[col].astype('category')
    df[label_col] = df[col].cat.codes
    return df

In [ ]:
train = encodeLabel(train, "Genre")

In [ ]:
train_plot_words = train['Plot'].tolist()
train_labels = train['Label'].tolist()
train_labels = np.array(train_labels)

## Maps each word in a given plot to its embedding

In [ ]:
def get_embeddings(plot_list, final_embeddings):
    plot_embeddings = []
    
    for plot in plot_list:
    
        embeddings = []
    
        p = multiple_replace(d, plot)
    
        all_words = p.split(" ")
    
        for word in all_words:
        
            index = vocab_dictionary.get(word, 0)
        
            embedding = final_embeddings[index]
            embeddings.append(embedding)
            
        plot_embeddings.append(embeddings)
        
    return plot_embeddings

In [ ]:
train_plot_embeddings = get_embeddings(train_plot_words, final_embeddings)
train_plot_embeddings = np.array(train_plot_embeddings)

## Generates a batch of movies to be used for LSTM model

In [ ]:
def generate_batch_movies(batch_size, plots, labels):
    # Assert ndarrays 
    
    total = len(plots)
    
    indices = np.random.choice(total, batch_size, replace=False)
    
    batch_plots = np.take(plots, indices)
    batch_labels = np.take(labels, indices)
    
    return batch_plots, batch_labels

In [ ]:
batch_inputs, batch_labels = generate_batch_movies(20, train_plot_embeddings, train_labels)

In [ ]:
class LSTMModel():
    
    def __init__(self, rnn_size, output_size, learning_rate=1e-4):

        self.inputs = tf.placeholder(tf.float32, shape=[None, None, embedding_size])
        self.labels = tf.placeholder(tf.int32, shape=[None, 1])
    
        lm_cell = tf.nn.rnn_cell.LSTMCell(rnn_size)
    
        outputs, states = tf.nn.dynamic_rnn(lm_cell, self.inputs, dtype=tf.float32)
    
        self.output_logits = tf.layers.dense(outputs, output_size)
    
        self.loss = tf.losses.sparse_softmax_cross_entropy(self.labels, self.output_logits)
        
        optimizer = tf.train.AdamOptimizer(learning_rate)
        
        self.global_step = tf.train.get_or_create_global_step()
        self.train_op = optimizer.minimize(self.loss)
        self.saver = tf.train.Saver()

In [76]:
tf.reset_default_graph() # This is so that when you debug, you reset the graph each time you run this, in essence, cleaning the board
model = LSTMModel(256, 7, 1e-3)

WARNING:tensorflow:From /Users/JeffyLands/182/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/losses/losses_impl.py:209: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [ ]:
# example
batch_size = 20
for i in range(10):
    
    batch_inputs, batch_labels = generate_batch_movies(batch_size, train_plot_embeddings, train_labels)
    
    feed_dict = {model.inputs: batch_inputs, model.labels: batch_labels}
    
    loss, _ = sess.run([self.loss, self.train_op], feed_dict=feed_dict)
    
    print(loss)

In [15]:
import json

In [16]:
with open('vocab_dictionary.json', 'w') as fp:
    json.dump(vocab_dictionary, fp)
with open('reversed_dictionary.json', 'w') as fp:
    json.dump(reversed_dictionary, fp)
with open('wordcount.json', 'w') as fp:
    json.dump(word_count, fp)

In [23]:
dict(word_count)

{'UNK': 15430244,
 '': 59041086,
 'the': 19802872,
 '.': 19606110,
 ',': 18339344,
 'of': 10250348,
 'and': 8018020,
 'in': 7361301,
 ';': 7097066,
 'a': 6166615,
 '-': 5854060,
 'to': 5755138,
 ')': 4616133,
 '(': 4612980,
 '"': 3735775,
 'is': 3350666,
 'was': 2942168,
 "'": 2693478,
 'for': 2378036,
 ':': 2270358,
 'as': 2242207,
 's': 2194936,
 'on': 2022034,
 'by': 2009159,
 'with': 1920241,
 'he': 1628851,
 'that': 1622900,
 'from': 1526793,
 'it': 1426551,
 'at': 1380414,
 'his': 1378255,
 'an': 1101848,
 'are': 1027211,
 'were': 887042,
 'this': 886377,
 'or': 875241,
 'which': 852307,
 'be': 851776,
 'also': 845684,
 'has': 742065,
 'one': 657517,
 'had': 614012,
 'not': 600311,
 'first': 589432,
 'but': 583710,
 'new': 579807,
 'their': 575491,
 'who': 551742,
 'they': 548684,
 'have': 535416,
 'its': 507148,
 'after': 487937,
 'other': 471892,
 'all': 464436,
 'her': 459248,
 '1': 454320,
 'two': 443031,
 'there': 430888,
 'she': 427902,
 'when': 427703,
 'been': 415549,
 '2': 396454,
 'time': 384664,
 'more': 367199,
 'into': 363145,
 'external': 354025,
 'most': 345716,
 'i': 337352,
 'can': 337113,
 'some': 334790,
 'only': 331624,
 'links': 331055,
 '3': 329091,
 'school': 327578,
 'up': 323030,
 'years': 322767,
 '||': 322336,
 'city': 320457,
 'many': 312334,
 'during': 311255,
 'over': 306704,
 'world': 306117,
 'out': 305441,
 'used': 290238,
 'may': 288190,
 'no': 286846,
 '0': 286649,
 'about': 284695,
 'him': 282726,
 'see': 280561,
 'such': 279649,
 '5': 273074,
 'would': 272468,
 'known': 264384,
 'american': 263751,
 '4': 261907,
 'united': 259510,
 'under': 258042,
 '2006': 256155,
 'where': 253081,
 'university': 250636,
 'state': 248389,
 'then': 243336,
 'these': 241564,
 'than': 239725,
 'between': 236200,
 'made': 235904,
 'states': 235260,
 'later': 235122,
 'year': 232846,
 'will': 226983,
 'war': 225162,
 'them': 224493,
 'however': 224365,
 'part': 222599,
 'age': 220673,
 'three': 220557,
 'name': 220496,
 'being': 218411,
 'well': 218299,
 'national': 214707,
 'people': 214079,
 '2005': 213196,
 'while': 212433,
 'high': 209883,
 'born': 208146,
 'history': 205250,
 'south': 204461,
 'series': 203255,
 'through': 201037,
 'de': 199736,
 'both': 197973,
 'became': 197931,
 'north': 195605,
 'county': 194974,
 '&': 193895,
 'area': 193568,
 'john': 192731,
 '6': 191818,
 '8': 190201,
 'including': 189721,
 'before': 188805,
 'so': 186919,
 'music': 186730,
 'called': 184089,
 't': 183201,
 'if': 180960,
 'game': 180279,
 'second': 176934,
 'since': 176798,
 'family': 176727,
 'population': 175813,
 'town': 175668,
 'life': 173596,
 'like': 171353,
 'now': 169742,
 'd': 169391,
 '2000': 169264,
 'group': 169168,
 'you': 168634,
 '2004': 167972,
 'film': 167825,
 'several': 167596,
 '7': 167051,
 'number': 165669,
 'references': 165409,
 'use': 165159,
 'any': 164195,
 'early': 163923,
 '18': 163891,
 'm': 163550,
 'until': 162721,
 'team': 161694,
 'work': 161262,
 'c': 160039,
 'day': 154810,
 'each': 152810,
 'u': 152377,
 'same': 151591,
 'against': 151495,
 'west': 151255,
 'general': 151011,
 'house': 150557,
 '10': 150440,
 'system': 150005,
 'york': 149985,
 'album': 149834,
 'company': 148066,
 'line': 146974,
 'based': 146682,
 'government': 145729,
 'because': 144022,
 'very': 143890,
 'often': 142370,
 '000': 142354,
 'british': 140811,
 '2001': 140275,
 'band': 140056,
 'long': 139052,
 'back': 138371,
 '2003': 138067,
 'best': 137830,
 'located': 137715,
 'party': 136935,
 'list': 136730,
 'four': 136511,
 'b': 135484,
 'official': 135303,
 'home': 135269,
 'king': 135244,
 'show': 134955,
 'e': 134870,
 'end': 134863,
 'those': 133487,
 'bar': 133428,
 'international': 131987,
 '9': 131912,
 'released': 131173,
 'college': 130214,
 'although': 130037,
 'place': 129587,
 'around': 129154,
 'following': 129140,
 'what': 127839,
 'another': 127277,
 'east': 127010,
 'century': 125506,
 'river': 125326,
 'season': 124665,
 'major': 124413,
 'man': 124402,
 'old': 124149,
 '2002': 123877,
 'station': 123446,
 'district': 123422,
 'great': 122834,
 'played': 122824,
 'even': 122821,
 'book': 122539,
 'public': 122489,
 'could': 122355,
 'still': 122172,
 'small': 121515,
 'named': 121233,
 'order': 121068,
 'september': 121044,
 'english': 120811,
 'large': 119804,
 'site': 119776,
 'much': 119740,
 'right': 119490,
 'found': 119381,
 'own': 119144,
 'member': 118778,
 '|': 118507,
 'members': 118343,
 'song': 117816,
 'off': 117449,
 'former': 117431,
 'march': 117332,
 'october': 116371,
 'january': 116334,
 'left': 116314,
 '12': 116230,
 'church': 116091,
 'power': 115741,
 'white': 114377,
 'did': 114133,
 'death': 113837,
 'st': 112649,
 'service': 112260,
 'last': 111762,
 'do': 111753,
 'december': 111328,
 'president': 110983,
 'website': 110326,
 'air': 110275,
 'main': 110123,
 '20': 109409,
 'way': 109288,
 'set': 109127,
 'form': 108905,
 'player': 108335,
 'text': 108055,
 'august': 107915,
 'park': 107843,
 'children': 107269,
 'local': 106803,
 'due': 106786,
 'november': 106734,
 'began': 106656,
 'down': 106627,
 'june': 106331,
 'july': 106155,
 'league': 105248,
 'won': 104982,
 'original': 104825,
 'april': 104499,
 'law': 104221,
 'every': 104071,
 'along': 104022,
 'include': 103940,
 '1999': 103427,
 'just': 103297,
 'black': 101377,
 'single': 100630,
 'times': 100150,
 'living': 100052,
 'club': 100043,
 '15': 99881,
 'london': 99204,
 'different': 98637,
 'french': 98547,
 '11': 98419,
 'within': 98390,
 'water': 97912,
 'built': 97396,
 'we': 96960,
 'version': 96948,
 'island': 96873,
 'p': 96439,
 'games': 96362,
 'career': 96283,
 'army': 96220,
 'country': 96030,
 'took': 95561,
 '25': 95342,
 'j': 94773,
 'make': 94142,
 'village': 94027,
 'men': 93553,
 'center': 93448,
 'son': 93102,
 'though': 92861,
 'non': 92321,
 'road': 92027,
 'o': 91794,
 '1998': 91789,
 'february': 91737,
 '30': 91693,
 'information': 91631,
 'land': 91549,
 '24': 91396,
 'died': 91387,
 'near': 91232,
 'published': 91132,
 'popular': 91025,
 'point': 90790,
 '100': 90232,
 'five': 90231,
 'side': 89958,
 'top': 89819,
 'present': 89697,
 'television': 89650,
 'german': 89534,
 'battle': 89257,
 'held': 89224,
 'father': 88748,
 'again': 88633,
 'among': 88551,
 'england': 88429,
 'radio': 87889,
 'play': 87877,
 'community': 87318,
 'according': 87057,
 'football': 86977,
 'become': 86964,
 'political': 86885,
 'late': 86493,
 '1997': 86338,
 'live': 85899,
 '14': 85554,
 'act': 85554,
 'students': 85316,
 'average': 85268,
 'central': 85236,
 'third': 85221,
 'william': 85143,
 'income': 85113,
 'l': 84978,
 'given': 84779,
 'final': 84661,
 'using': 84485,
 'character': 84366,
 '16': 84323,
 'take': 84286,
 'few': 84052,
 'various': 84039,
 'street': 83703,
 'love': 83504,
 'james': 83017,
 'story': 82860,
 '13': 82851,
 'r': 82180,
 'art': 82126,
 'g': 82043,
 'served': 81905,
 'george': 81903,
 'usually': 81804,
 '1996': 81739,
 'class': 81722,
 'western': 81632,
 'military': 81309,
 'example': 81033,
 'red': 81003,
 'canada': 80743,
 'young': 80631,
 'little': 80325,
 'force': 80257,
 'language': 80113,
 'development': 80047,
 'building': 79781,
 'short': 79750,
 'without': 79499,
 'together': 79474,
 'currently': 79228,
 'written': 79130,
 'la': 79107,
 'said': 79061,
 'rock': 79025,
 'episode': 78553,
 'never': 78506,
 'head': 78244,
 'created': 78159,
 'david': 77870,
 'works': 77637,
 'once': 77241,
 'x': 77205,
 'came': 77179,
 'america': 77160,
 'title': 77092,
 'common': 76845,
 'my': 76758,
 'led': 76353,
 'having': 75929,
 'court': 75693,
 'himself': 75667,
 'education': 75546,
 'california': 75501,
 'term': 75345,
 'union': 75321,
 'current': 75305,
 'modern': 75031,
 'free': 74961,
 'society': 74938,
 'next': 74789,
 '17': 74557,
 '1995': 74549,
 'san': 74461,
 'star': 74413,
 'support': 74403,
 'control': 74250,
 'record': 74216,
 'division': 74063,
 'track': 74046,
 'council': 74044,
 'median': 73879,
 'good': 73865,
 'women': 73797,
 'families': 73618,
 'how': 73445,
 'similar': 73387,
 'field': 73336,
 '1991': 72606,
 'considered': 72561,
 'f': 72502,
 'full': 72355,
 'northern': 72265,
 'married': 72034,
 'special': 71771,
 'others': 71531,
 '1994': 71434,
 'went': 71338,
 'science': 71248,
 'period': 71189,
 'role': 71071,
 'run': 70952,
 'program': 70929,
 'level': 70884,
 'press': 70746,
 'total': 70712,
 'produced': 70424,
 'region': 70229,
 'france': 70132,
 'census': 70079,
 'research': 70054,
 'business': 70007,
 'human': 69988,
 'included': 69819,
 'received': 69692,
 'size': 69665,
 'co': 69554,
 'award': 69538,
 'famous': 69526,
 'australia': 69426,
 'does': 69405,
 'must': 69294,
 'records': 69051,
 'open': 68510,
 'minister': 68367,
 'office': 68282,
 '21': 68269,
 'important': 68077,
 'should': 68012,
 '19': 67975,
 'body': 67966,
 'founded': 67843,
 '1993': 67825,
 'seen': 67705,
 'royal': 67616,
 'go': 67544,
 'production': 67510,
 'get': 67347,
 '1992': 66787,
 'six': 66748,
 'robert': 66698,
 'japanese': 66596,
 'moved': 66402,
 'space': 66389,
 '22': 66374,
 'lost': 66103,
 'association': 66081,
 'news': 65991,
 'light': 65973,
 'video': 65918,
 'books': 65616,
 'lake': 65471,
 'days': 65451,
 'originally': 65451,
 'w': 65371,
 'case': 64958,
 'today': 64886,
 'started': 64859,
 'upon': 64795,
 'southern': 64674,
 'race': 64457,
 '=': 64273,
 'further': 64209,
 'india': 64017,
 'design': 63904,
 'paul': 63902,
 'director': 63897,
 'article': 63878,
 'per': 63813,
 'social': 63799,
 'election': 63762,
 'v': 63752,
 'n': 63684,
 'com': 63682,
 'european': 63602,
 'established': 63461,
 '23': 63308,
 'males': 63187,
 'project': 63128,
 'available': 63088,
 'al': 63081,
 'making': 63048,
 'fire': 62888,
 '1990': 62615,
 '65': 62492,
 'night': 62469,
 'services': 62246,
 'females': 62227,
 'forces': 62225,
 're': 62171,
 'h': 61818,
 'hall': 61316,
 'movie': 61315,
 'me': 60965,
 'canadian': 60830,
 'sometimes': 60657,
 'michael': 60532,
 'charles': 60487,
 'less': 60292,
 'japan': 60259,
 'events': 60072,
 'schools': 59900,
 '26': 59787,
 'half': 59757,
 'route': 59745,
 'style': 59741,
 'appeared': 59730,
 'older': 59486,
 'type': 59216,
 'formed': 58897,
 'away': 58730,
 'thus': 58444,
 'position': 58284,
 '28': 58270,
 'eventually': 58155,
 'release': 57814,
 'million': 57779,
 'link': 57734,
 'department': 57730,
 'dr': 57712,
 'areas': 57679,
 'page': 57674,
 'kingdom': 57558,
 'cup': 57410,
 'real': 57409,
 'big': 57310,
 'germany': 57219,
 'sea': 57189,
 'households': 57121,
 '27': 56996,
 'playing': 56972,
 'songs': 56949,
 'post': 56858,
 'species': 56754,
 'green': 56745,
 'thomas': 56673,
 'k': 56522,
 'europe': 56502,
 'elected': 56301,
 'your': 56220,
 'middle': 56108,
 'network': 55990,
 'result': 55958,
 'mother': 55838,
 'developed': 55503,
 'blue': 55207,
 'lead': 55144,
 'taken': 55078,
 'board': 55064,
 'systems': 54991,
 'returned': 54923,
 'washington': 54878,
 'rather': 54877,
 '1989': 54792,
 'fact': 54638,
 '2007': 54611,
 'km²': 54596,
 'working': 54265,
 'god': 54115,
 'either': 53918,
 'continued': 53585,
 'australian': 53553,
 'features': 53547,
 'almost': 53529,
 '1981': 53521,
 'peter': 53396,
 'below': 53388,
 'earth': 53383,
 'police': 53373,
 'centre': 53348,
 'attack': 53263,
 'female': 53229,
 'throughout': 53147,
 'chief': 52975,
 'wife': 52868,
 'soon': 52812,
 'car': 52772,
 '29': 52767,
 'largest': 52697,
 'help': 52623,
 'players': 52613,
 'eastern': 52596,
 'come': 52581,
 'china': 52516,
 'brother': 52140,
 'range': 52086,
 '/': 51885,
 'characters': 51820,
 'process': 51565,
 '1988': 51434,
 'addition': 51398,
 'far': 51377,
 'killed': 51330,
 '1987': 51308,
 'native': 51262,
 'railway': 51214,
 'airport': 51166,
 'model': 50974,
 'township': 50877,
 'includes': 50840,
 'round': 50815,
 'summer': 50814,
 'magazine': 50810,
 '50': 50794,
 'instead': 50781,
 'above': 50695,
 'richard': 50679,
 'km': 50653,
 'worked': 50623,
 'groups': 50616,
 'return': 50575,
 'museum': 50534,
 'able': 50482,
 'data': 50390,
 'word': 50385,
 'recorded': 50364,
 'generally': 50351,
 'http': 50347,
 'lord': 50138,
 'hand': 50056,
 'standard': 50009,
 'computer': 49999,
 'person': 49943,
 'don': 49907,
 'itself': 49873,
 'leader': 49870,
 'technology': 49661,
 'joined': 49659,
 'african': 49617,
 'despite': 49591,
 'here': 49456,
 'guitar': 49315,
 'means': 49246,
 'too': 49245,
 'independent': 49233,
 'till': 49116,
 'henry': 49105,
 '1986': 49023,
 'indian': 49005,
 'possible': 48980,
 'training': 48945,
 'especially': 48688,
 'low': 48686,
 'units': 48676,
 'action': 48566,
 'christian': 48565,
 'civil': 48431,
 'movement': 48422,
 'republic': 48359,
 '1980': 48138,
 '31': 48130,
 'roman': 48065,
 'hill': 47934,
 'province': 47916,
 'points': 47821,
 'opened': 47718,
 'close': 47649,
 'across': 47555,
 'wrote': 47510,
 'professional': 47479,
 'miles': 47462,
 'ireland': 47411,
 'ship': 47402,
 'actor': 47329,
 'chinese': 47195,
 'championship': 47172,
 '1985': 47112,
 '1984': 47050,
 'hit': 46922,
 'find': 46912,
 'arts': 46867,
 'change': 46867,
 'ever': 46822,
 'seven': 46815,
 'density': 46664,
 'future': 46656,
 'gold': 46627,
 'aircraft': 46624,
 'our': 46622,
 'mr': 46615,
 'theory': 46539,
 'health': 46455,
 'sound': 46382,
 'culture': 46352,
 'institute': 46327,
 'grand': 46169,
 'related': 46063,
 'front': 45980,
 '1971': 45977,
 '40': 45841,
 'valley': 45793,
 'parts': 45774,
 'mark': 45745,
 'base': 45698,
 'shows': 45660,
 'market': 45550,
 'daughter': 45544,
 'media': 45512,
 'designed': 45354,
 'author': 45142,
 'coast': 44960,
 'always': 44798,
 'featured': 44772,
 'novel': 44741,
 'stage': 44718,
 'rights': 44689,
 'shift': 44633,
 'capital': 44613,
 'prince': 44529,
 'student': 44520,
 'spanish': 44438,
 'past': 44424,
 '1983': 44418,
 'least': 44386,
 'bridge': 44310,
 'bay': 44306,
 'countries': 44299,
 'texas': 44282,
 '1979': 44176,
 'cross': 44164,
 'whose': 44143,
 'races': 44051,
 'organization': 44050,
 'sports': 43941,
 'leading': 43828,
 'success': 43811,
 'sir': 43793,
 '1982': 43738,
 'private': 43686,
 'put': 43637,
 'construction': 43507,
 'performance': 43477,
 'energy': 43379,
 'sold': 43303,
 'source': 43294,
 'section': 43241,
 'uses': 43138,
 'smith': 43042,
 'study': 42911,
 'russian': 42859,
 'saint': 42806,
 'household': 42780,
 'strong': 42748,
 'awards': 42740,
 'ground': 42596,
 'outside': 42596,
 'traditional': 42478,
 'self': 42436,
 'channel': 42303,
 'tour': 42250,
 'empire': 42118,
 '45': 42074,
 'federal': 42060,
 'natural': 41987,
 'governor': 41913,
 'primary': 41758,
 'studies': 41555,
 'successful': 41492,
 'lower': 41458,
 'beginning': 41453,
 'performed': 41367,
 'followed': 41363,
 'months': 41325,
 'sent': 41189,
 'los': 41088,
 'writer': 41059,
 'bill': 41043,
 '//www': 41026,
 'notes': 41019,
 'reference': 40968,
 'africa': 40927,
 'queen': 40860,
 'recent': 40830,
 'films': 40828,
 'prime': 40745,
 'start': 40743,
 'industry': 40734,
 'child': 40704,
 'appears': 40644,
 'money': 40624,
 'certain': 40620,
 'notable': 40612,
 '1970': 40545,
 'brown': 40485,
 'trade': 40472,
 'ten': 40461,
 'woman': 40428,
 'involved': 40427,
 'win': 40296,
 'value': 40292,
 'chicago': 40285,
 'committee': 40267,
 'vocals': 40225,
 'limited': 40219,
 'higher': 40189,
 'finally': 40188,
 'parliament': 40126,
 'behind': 40093,
 'food': 40076,
 'personal': 40041,
 'bank': 40001,
 'italian': 39987,
 'event': 39956,
 'historical': 39866,
 'library': 39825,
 'academy': 39768,
 'mid': 39736,
 'brought': 39726,
 '1978': 39716,
 'professor': 39713,
 'complete': 39691,
 'teams': 39684,
 'fontsize': 39667,
 'highway': 39650,
 'management': 39526,
 'navy': 39381,
 'emperor': 39296,
 'edition': 39294,
 'catholic': 39286,
 '1976': 39133,
 'introduced': 39094,
 '1975': 39079,
 'master': 38895,
 'singer': 38882,
 'van': 38876,
 '1977': 38840,
 '1974': 38814,
 'husband': 38790,
 'course': 38762,
 'appointed': 38674,
 'interest': 38642,
 'added': 38610,
 'saw': 38593,
 'gave': 38563,
 'unit': 38545,
 'names': 38528,
 'actually': 38438,
 'date': 38370,
 'takes': 38367,
 'paris': 38311,
 'mary': 38278,
 'greek': 38199,
 'web': 38155,
 'campaign': 38060,
 'give': 38047,
 'medical': 37956,
 'changed': 37954,
 'running': 37926,
 'recently': 37904,
 'collection': 37899,
 '1st': 37895,
 'mountain': 37857,
 'results': 37851,
 'mission': 37844,
 '1972': 37832,
 'remained': 37815,
 'themselves': 37760,
 'provide': 37754,
 'replaced': 37746,
 'musical': 37631,
 'nature': 37614,
 'got': 37603,
 'degree': 37579,
 'heart': 37549,
 'code': 37527,
 'operations': 37526,
 'ancient': 37490,
 'anti': 37489,
 'speed': 37435,
 'captain': 37422,
 'religious': 37369,
 'operation': 37346,
 'foreign': 37328,
 'friends': 37314,
 'biography': 37238,
 'better': 37206,
 '1973': 37154,
 'dead': 37129,
 'move': 37053,
 'thought': 37034,
 'alone': 36961,
 'festival': 36892,
 'soviet': 36837,
 'command': 36823,
 'engine': 36810,
 'taking': 36757,
 'view': 36723,
 'runs': 36643,
 'martin': 36611,
 'mi²': 36594,
 'previous': 36499,
 'cities': 36352,
 'economic': 36310,
 'turn': 36280,
 'pacific': 36269,
 'location': 36256,
 'test': 36191,
 '1961': 36171,
 'online': 36140,
 'contains': 36124,
 'jack': 36101,
 'decided': 36044,
 'writing': 36012,
 'going': 35975,
 'words': 35973,
 'theatre': 35918,
 'square': 35880,
 'true': 35865,
 'irish': 35852,
 'fall': 35805,
 'wide': 35790,
 'artist': 35786,
 'virginia': 35775,
 'described': 35759,
 'dark': 35752,
 'room': 35734,
 '1968': 35703,
 'makes': 35613,
 'match': 35592,
 'owned': 35571,
 'yet': 35551,
 'individuals': 35535,
 'active': 35498,
 'particularly': 35491,
 'particular': 35481,
 ...}

In [21]:
word_count[0] = (word_count[0][0], word_count[0][1])

In [24]:
with open('wordcount.json', 'w') as fp:
    json.dump(word_count, fp)

In [26]:
with open('dataloc.txt', 'w') as f:
    for item in data:
        f.write("%s\n" % item)

In [25]:
data

[711,
 27651,
 1,
 13,
 293,
 216,
 4,
 1,
 9441,
 1,
 10,
 1,
 261,
 501,
 4,
 1,
 4903,
 12,
 1,
 16,
 31,
 1,
 246,
 3025,
 3,
 2,
 70,
 332,
 5,
 137,
 27651,
 4,
 1,
 4608,
 5,
 5529,
 6,
 2643,
 5,
 4210,
 4,
 1,
 25,
 16,
 2747,
 29,
 14116,
 6,
 2033,
 264,
 4,
 1,
 1528,
 4,
 1,
 5146,
 7,
 8372,
 3,
 1,
 144,
 11,
 2,
 214,
 4,
 1,
 25,
 16053,
 18,
 69,
 75,
 22,
 2,
 1528,
 2555,
 8,
 1,
 44,
 30,
 13514,
 33,
 2075,
 4,
 1,
 6,
 59,
 4,
 1,
 22,
 30,
 357,
 17,
 21,
 268,
 7,
 5116,
 4,
 1,
 25,
 5365,
 9,
 242,
 1862,
 7,
 11159,
 4,
 1,
 25,
 908,
 436,
 74,
 8476,
 11,
 1672,
 813,
 3,
 1,
 25,
 41,
 366,
 2047,
 24,
 2,
 6855,
 197,
 5,
 3233,
 6,
 5342,
 47,
 433,
 2,
 9104,
 203,
 4,
 1,
 9,
 2109,
 11,
 36,
 25,
 12911,
 30,
 4565,
 11,
 2,
 119,
 10,
 2239,
 6,
 2384,
 607,
 5,
 3909,
 5,
 7353,
 8,
 1,
 44,
 325,
 85,
 114,
 7,
 1354,
 436,
 3,
 1,
 1,
 25,
 16,
 4,
 1,
 113,
 4,
 1,
 31,
 997,
 6307,
 5,
 78,
 346,
 3059,
 10,
 1,
 10,
 998,
 5,
 26,
 36,
 1275,
 7,
 2,
 10346,
 5,
 2,
 4007,
 859,
 8,
 1,
 6,
 25,
 16,
 33400,
 2828,
 11,
 2,
 367,
 3050,
 5,
 2,
 25384,
 3,
 1,
 27651,
 17,
 21,
 2835,
 2075,
 173,
 16,
 8134,
 7,
 37528,
 24,
 2,
 235,
 3560,
 5,
 2,
 9104,
 203,
 4,
 1,
 2,
 3318,
 1070,
 4,
 1,
 99,
 30,
 1070,
 5,
 1372,
 17,
 21,
 19548,
 3979,
 1762,
 3,
 1,
 30,
 43,
 235,
 173,
 4,
 1,
 2,
 961,
 5,
 2,
 101,
 5,
 612,
 79,
 2,
 615,
 2845,
 4,
 1,
 16,
 481,
 7,
 7002,
 4,
 1,
 6,
 16,
 836,
 1308,
 75,
 108,
 23,
 2,
 3431,
 126,
 5,
 360,
 3,
 1,
 7,
 6087,
 10,
 5976,
 581,
 2,
 1774,
 11,
 2,
 1211,
 5,
 612,
 7,
 2,
 3658,
 4,
 1,
 3162,
 6,
 3083,
 2261,
 3,
 1,
 1,
 103,
 32,
 2,
 116,
 425,
 22,
 36,
 27651,
 17,
 21,
 1557,
 13463,
 3,
 1,
 48,
 325,
 9,
 220,
 7,
 246,
 1211,
 36,
 16,
 42,
 5261,
 6038,
 171,
 2,
 1526,
 226,
 3,
 1,
 9,
 1242,
 5,
 20568,
 843,
 11,
 30,
 615,
 2845,
 16,
 345,
 7,
 4392,
 8,
 1,
 103,
 3937,
 6,
 2584,
 2587,
 1217,
 53,
 5,
 27651,
 17,
 21,
 322,
 3,
 1,
 2,
 6851,
 874,
 905,
 7,
 30,
 153,
 16,
 2,
 38957,
 36,
 0,
 88,
 7,
 2,
 1565,
 5,
 30,
 286,
 4,
 1,
 40,
 51,
 224,
 3,
 1,
 30,
 4725,
 332,
 4,
 1,
 1651,
 711,
 27651,
 10,
 1,
 10,
 2,
 1,
 14,
 9,
 3,
 565,
 3,
 565,
 3,
 1,
 14,
 1,
 5,
 22705,
 17,
 21,
 7,
 32727,
 4,
 1,
 6,
 23,
 2,
 6779,
 5,
 30,
 10063,
 9,
 230,
 5,
 2,
 66,
 6855,
 5143,
 10,
 1,
 10,
 343,
 7,
 6863,
 29,
 2,
 115,
 5,
 1700,
 10,
 56,
 3,
 1,
 8143,
 75,
 108,
 4,
 1,
 30,
 148,
 332,
 4,
 1,
 711,
 39428,
 27651,
 4,
 1,
 16,
 1322,
 257,
 154,
 30,
 659,
 29,
 2,
 192,
 10666,
 5,
 223,
 1029,
 49,
 60,
 9,
 235,
 322,
 3,
 1,
 2,
 15332,
 268,
 6,
 124,
 7325,
 5,
 103,
 406,
 330,
 4,
 1,
 6,
 2,
 521,
 5,
 40,
 5,
 112,
 24,
 2,
 66,
 346,
 3146,
 5,
 2,
 115,
 4,
 1,
 49,
 106,
 27651,
 17,
 21,
 150,
 0,
 950,
 93,
 104,
 167,
 52,
 6667,
 5,
 30,
 153,
 3,
 1,
 25,
 2988,
 649,
 4,
 1,
 771,
 6,
 1930,
 23,
 78,
 75,
 3,
 7,
 6478,
 27651,
 345,
 2,
 1097,
 7,
 7511,
 6,
 4215,
 5,
 1651,
 711,
 27651,
 4,
 1,
 24,
 9,
 5760,
 5,
 30,
 153,
 3,
 1,
 7,
 5315,
 9,
 2901,
 5,
 2075,
 4594,
 6,
 662,
 27,
 2,
 1211,
 5,
 612,
 16,
 345,
 3,
 1,
 27651,
 16,
 9,
 1687,
 5,
 2,
 509,
 444,
 4,
 1,
 6,
 9,
 10590,
 5,
 2,
 195,
 686,
 4,
 1,
 6,
 3907,
 78,
 52,
 3622,
 14512,
 3,
 1,
 7,
 5564,
 25,
 489,
 2,
 751,
 1065,
 18,
 126,
 4,
 1,
 506,
 23,
 397,
 3,
 1,
 1,
 2,
 615,
 2845,
 15,
 988,
 23,
 27651,
 436,
 20,
 9,
 128,
 5,
 878,
 45310,
 4,
 1,
 9,
 3997,
 3194,
 5,
 2,
 648,
 3825,
 26,
 68,
 905,
 9,
 4727,
 26072,
 79,
 2,
 474,
 27,
 2,
 2323,
 11,
 2,
 3658,
 226,
 3,
 1,
 2,
 173,
 1429,
 5,
 1308,
 198,
 5066,
 4,
 1,
 176,
 5,
 36,
 15,
 9,
 885,
 9325,
 7,
 699,
 3,
 1,
 2,
 126,
 5,
 483,
 4,
 1,
 5,
 1058,
 4,
 1,
 5,
 1208,
 4,
 1,
 5,
 601,
 4,
 1,
 6,
 5,
 2,
 916,
 6,
 0,
 12973,
 4,
 1,
 40308,
 7,
 3103,
 6,
 181,
 1049,
 4,
 1,
 15,
 2,
 1159,
 5,
 349,
 1244,
 5066,
 3,
 1,
 470,
 1411,
 24,
 2,
 235,
 9981,
 637,
 5,
 2807,
 444,
 10,
 1,
 10,
 2,
 410,
 5,
 2,
 10138,
 184,
 4,
 1,
 5,
 2,
 8032,
 184,
 4,
 1,
 6,
 5,
 2,
 443,
 367,
 184,
 5,
 360,
 3,
 1,
 2,
 271,
 1997,
 8224,
 2,
 181,
 101,
 5,
 444,
 4,
 1,
 2,
 1613,
 5,
 3350,
 4,
 1,
 11769,
 4,
 1,
 6,
 1211,
 7,
 2,
 615,
 2845,
 3,
 1,
 2,
 238,
 84,
 37,
 2171,
 20,
 9,
 181,
 961,
 5,
 168,
 442,
 126,
 4,
 1,
 8905,
 11,
 2,
 63,
 3213,
 1752,
 5,
 469,
 1033,
 5,
 6921,
 1553,
 82,
 7,
 30,
 2282,
 425,
 4,
 1,
 219,
 27651,
 17,
 21,
 296,
 5133,
 16,
 11,
 1601,
 2,
 173,
 22,
 2,
 1788,
 22,
 36,
 28,
 41,
 60,
 3523,
 3,
 1,
 2,
 3431,
 126,
 5,
 360,
 913,
 74,
 2,
 1159,
 29,
 2,
 347,
 29,
 36,
 28,
 41,
 60,
 2451,
 7,
 2,
 961,
 5,
 2,
 615,
 2845,
 4,
 1,
 17075,
 4,
 1,
 2,
 11331,
 5,
 711,
 4,
 1,
 6,
 4553,
 28,
 291,
 11,
 2,
 11331,
 5,
 397,
 3,
 1,
 27651,
 3249,
 705,
 18,
 9,
 4474,
 1501,
 4,
 1,
 36,
 28,
 15,
 3556,
 42,
 11,
 2664,
 6,
 11,
 14523,
 3,
 1,
 25,
 16,
 12744,
 11,
 37370,
 2,
 33020,
 5,
 442,
 1354,
 36,
 3791,
 11,
 88,
 11,
 476,
 199,
 129,
 2,
 1192,
 474,
 5,
 2,
 2697,
 5,
 397,
 8,
 1,
 3489,
 4,
 1,
 25,
 16,
 3207,
 5,
 8213,
 3,
 1,
 1,
 2,
 7668,
 1070,
 18,
 6999,
 974,
 31,
 542,
 22,
 2,
 3431,
 126,
 4,
 1,
 416,
 23,
 0,
 4,
 1,
 466,
 5,
 0,
 3,
 1,
 2,
 173,
 4,
 ...]